<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Books App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
	<a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">Library App</a>
    <a class="navbar-link btn-lg" href="{% url 'index' %}" style="background-color:#FFCC33;color:#000000;">library</a>
    <a href="{% url 'admin:index' %}" class = 'navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Admin</a>
    <a href="{% url 'upload-book' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Upload Books</a>
</nav>
<br>
{% block content %}
<div class="card-columns">
	{% for book in shelf %}
	<div class="card" style="width: 18rem;">
  <img class="card-img-top;
  src = "{{ book.picture.url }}>
  <div class="card-body">
    <h5 class="card-title">{{ book.name }}</h5>
    <p class="card-text">{{ book.describe }}</p>
    <div class="card-footer bg-transparent border-dark">
    	<p class="card-title">{{book.author}}</p>
    	<center>
		<a href="update/{{book.id}}" class="btn btn-warning" id = '{{book.id}}'>edit</a>
		<a href="delete/{{book.id}}" class="btn btn-danger" id = '{{book.id}}'>delete</a>
	</center>
	</div>
  </div>
</div>
	{% endfor %}
</div>
{% endblock %}
</body>
</html>