
<script>
    let currlen = 0
    $(document).ready(function(){
    // INSERT DATA
    $('#btnsave').click(function (){
        output = "";
        // console.log('clicked');
        let empid = $('#empid').val()
        let name = $('#nameid').val()
        let age = $('#ageid').val()
        let location = $('#locationid').val()
        let csr = $('input[name=csrfmiddlewaretoken]').val()

        if(name == ""){
            console.log('name is empty');
        }
        else if(age == ""){
            console.log('age is empty');
        }
        else if(location == ""){
            console.log('location is empty');
        }
    
    
        else{
        employee_data = {
            employee_id: empid,
            employee_name: name,
            employee_age: age,
            employee_location: location,
        
            csrfmiddlewaretoken: csr
        };
        $.ajax({
            url: "{% url 'save' %}",
            type: 'POST',
            data: employee_data,
            dataType: 'json',
            success: function(data){
                if(data.status == 1){
                    // console.log("Form Submitted Successfully");
                    $('#msg').text("Form Submitted Successfully")
                    $("#msg").show('slow', function(){
                    $('#msg').fadeOut();
                    });
                    console.log($('#empid').val());

                    $('#empid').val("");
                    $('form')[0].reset();
                    // ajaxDataTableCall();
                    Data = data.employees;
                    reloadDataTable(Data);

                   
                                 
            }
                if(data.status == 0){
                    console.log(data.employee_data_json);
                    $('#msg').text("Unable to Save Data")
                    $("#msg").show('slow', function(){
                        $('#msg').fadeOut();
                    });
                    
                    $('#empid').val("");  
                    $('form')[0].reset();
                    // console.log("Form Not Submitted");
                    Data = data.employees;
                    Load
                    
                }
            },
        }
        );
    }
    });

    // DELETE DATA
    $('#Datatable').on("click", ".btn-del", function(){
        console.log("DElete Button Clicked");
        let id = $(this).attr('data-sid');
        let csr = $('input[name=csrfmiddlewaretoken]').val();
        console.log(id);
        data = {sid:id,csrfmiddlewaretoken:csr};
        mythis = this
        $.ajax({
            url: "{% url 'delete' %}",
            type: 'POST',
            data: data,
            success: function(data){
                // console.log(data)
                if(data.status == 1){
                    // console.log("Data Deleted Successfully");
                    $('#msg').text("Data Deleted Successfully")
                    $("#msg").show('slow', function(){
                        $('#msg').fadeOut();
                    });
                    $(mythis).closest('tr').fadeOut()
                }
                else{
                    // console.log("Unable to Delete Data");
                    $('#msg').text("Unable to Delete Data")
                    $("#msg").show('slow', function(){
                        $('#msg').fadeOut(1000);
                    });

                }
                
            }
        })

    });

// EDITING DATA
$('#Datatable').on("click", ".btn-edit", function(){
        let id = $(this).attr('data-sid');
        let csr = $('input[name=csrfmiddlewaretoken]').val();
        console.log(id);
        data = {sid:id,csrfmiddlewaretoken:csr};
        
        $.ajax({
            url: "{% url 'edit' %}",
            type: 'POST',
            data: data,
            datatype:"json",
            success: function(data){
                // console.log(data)
                $('#empid').val(data.id)
                $('#nameid').val(data.employee_name)
                $('#ageid').val(data.employee_age)
                $('#locationid').val(data.employee_location)
              
            
                
                
            }
        })

    });
    ajaxDataTableCall();  // loading first time


      
        
      
        });
  
</script>

<script>
function ajaxDataTableCall(){
   
    $(document).ready(function() {
    var table = $('#Datatable').DataTable( {
        'iDisplayLength': 5,
        
    });
} );
}

function reloadDataTable(Data){
    $("#Datatable tbody").empty();
                    for (i = 0;i < Data.length;i++){

                        $("#Datatable tbody").append(
                            "<tr>"+
                            "<td>"+Data[i].id+"</td>"+
                            "<td>"+Data[i].employee_name+"</td>"+
                            "<td>"+Data[i].employee_age+"</td>"+
                            "<td>"+Data[i].employee_location+"</td>"+
                            "<td>"+
                            "<input type='button' data-sid='"+Data[i].id+"' class='btn btn-warning btn-sm btn-edit' value='Edit' />"+
                            "<input type='button' data-sid='"+Data[i].id+"' class='btn btn-danger btn-sm btn-del' value='Delete' />"+
                            "</td>"+
                            "</tr>"
                        );
                    }
}

</script>